%header.jumbotron
  .container
    %h1= @title
    %p.lead= 'Explore the wealth of knowledge...'
.sub-jumbotron
  = partial 'layouts/search'

%section.container{ role: 'main' }
  .row
    .span8
      %ul.media-list
        - @books.each do |book|
          %li.media{ id: book.slug }
            %a.outbound.thumbnail.pull-left{ href: book.url }
              %img.media-object{ src: book.cover_url.to_s[0] ? book.cover_url : '/img/default-book.png', width: '120' }
            .media-body
              %h3.media-heading
                %a.outbound{ href: book.url }
                  = book.title
              %p= book.description
              %p= "<strong>Authors:</strong> #{book.authors}"

    %aside.span4
      %ul.nav.nav-tabs.nav-stacked.affix
        - @books.each do |book|
          %li.span4{ class: book == @books.first ? 'active': '' }
            %a{ href: "##{book.slug}" }
              %i.icon-chevron-left
              = book.title

        = will_paginate @books, renderer: BootstrapPagination::Sinatra

